@charset "UTF-8";
/* CSS Document */

/*
 * Student Data Dashboard for PowerSchool 7.11.x
 * Created Brian Sullivan
 *
 * Version 1.2
 * 01/2015
 *
 * Visit https://bitbucket.org/xcplanet/student-data-dashboard-for-ps for updates.
 *
 */

#ncces-spacer {
    display: block;
    height: 40px;
    width: 100%;
}
#ncces-printwarning {
    display: block;
    height:25px;
    position: relative;
}
.ncces-chartdiv {
    background-color: #eee;
    border-style: none;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.ncces-chartdiv.attendance {
    width: 610px;
}
.page-break {
    display: none;
}