@charset "UTF-8";
/* CSS Document */

/*
 * Student Data Dashboard for PowerSchool 7.11.x
 * Created Brian Sullivan
 *
 * Version 1.2
 * 01/2015
 *
 * Visit https://bitbucket.org/xcplanet/student-data-dashboard-for-ps for updates.
 *
 */

#header, #footer, #ncces-printwarning {
    display:none;
}
.ncces-chart {
    width: 65mm;
    height: 50mm;
}
.ncces-chart.attendance {
    width: 200mm;
    height: 25mm;
}
#ncces-spacer {
    display: block;
    height: 15mm;
    width: 100%;
    position: relative;
}
.ncces-chartdiv {
    background-color: #fff;
    border-style: solid;
    border-width: thin;
}
.ncces-chartdiv.attendance {
    width: 210mm;
}
.page-break {
    display: block;
    page-break-before: always;
}